<h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.Introduction %></th>
      </tr>
    </tbody>
  </table>

<% if user == current_user %>
  <%= link_to edit_user_path(current_user) do %>
    <i class="glyphicon glyphicon-wrench btn btn-default col-xs-12" ></i>
  <% end %>
<% else %>
  <%= link_to user_path(current_user) do %>
    <i class="glyphicon glyphicon-wrench btn btn-default col-xs-12" ></i>
  <% end %>
<% end %>
