<!DOCTYPE html>
<html>
  <head>
    <title>VocabularyNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left"><span>Vocabulary note</span></nav>
        <nav class="nav navbar-nav navbar-right" >
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id) do |f| %>
                  <i class="glyphicon glyphicon-home home" ></i>  Home
                <% end %>
              </li>
              <li>
                <%= link_to "Users", users_path %>
              </li>
              <li>
                <%= link_to "Books", books_path %>
              </li>
              <li>
                <%= link_to "logout", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Home", root_path %>
              </li>
              <li>
                <%= link_to "About", home_about_path %>
              </li>
              <li>
                <%= link_to "sign up", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "login", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    
    <div class="container">
      <p id="notice"><%= notice %></p>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
